#card-box {
    max-width: 150px;
    max-height: 200px;
}

.titulo {
    display: flex;
    border: 1px solid gray;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    min-height: 90px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.valor {
    padding-top: 5px;
    color: #1351d8;
    font-size: 25px;
    font-weight: bold;
}

.unidades {
    color: gray;
    font-size: 25px;
}